.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  background-image: url('/images/logo_place_header.svg');
}

.logo_place_header {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 228px;
  height: 32px;
  left: 64px;
  top: 30px;
}

.header__title {
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  position: absolute;
  width: 730px;
  align-self: center;
  left: 0;
  z-index: 2;
  margin: 0;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 68px;
  bottom: 30px;
  z-index: 2;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
}

.header__main-illustration {
  background-image: url('/images/header-image.png');
  position: absolute;
  background-size: cover;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  min-width: 784px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* column-gap: 100px; */
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 30px 0;
  margin: 0;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__paragraph:first-child {
  padding-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.digits {
  padding: 100px auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0;
  padding: 60px 0 100px 0;
  padding-top: 60px;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
  list-style-type: none;
}

.table__heading {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url('/images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  line-height: 1.15;
  text-align: center;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  margin: 0;
  padding: 100px 0 70px 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 34px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.kaufman {
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.section-subtitle_theme_dark {
  padding-bottom: 80px;
  margin: 0;
}

.section-title_theme_dark {}

.table_theme_dark {
  padding-top: 80px;
  row-gap: 80px;
  margin: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  margin: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('/images/kaufman-triangle.svg');
  position: absolute;
  top: 0;
  right: -210px;
  background-size: contain;
  z-index: -1;
}

.footer {
  background: #1f1f1f;
  color: #fff;
  min-height: 350px;
  display: flex;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copiright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  margin: 0;
}

.logo_place_footer {
  background-image: url('/images/logo_place_footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0;
  margin: 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding: 20px 0 16px 0;
  list-style-type: none;
  margin: 0;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}